<%= link_to "Back", root_path %>
<h1>
<% if I18n.locale == I18n.default_locale %>
	<%= @article.title %>
<% else %>
 	<%= @article.title_cn %>
<% end %>
</h1>
<p>
<% if I18n.locale == I18n.default_locale %>
	<%= @article.content %>
<% else %>
 	<%= @article.content_cn %>
<% end %>
</p>
