

<%= link_to "Back", root_path %>
<div class="article-box">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <% if @article.photo1.attached? %>
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <% end %>
    <% if @article.photo2.attached? %>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <% end %>
    <% if @article.photo3.attached? %>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <% end %>
    <% if @article.photo4.attached? %>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <% end %>
    <% if @article.photo5.attached? %>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <% end %>
    <% if @article.photo6.attached? %>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <% end %>
    <% if @article.photo7.attached? %>
      <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    <% end %>
    <% if @article.photo8.attached? %>
      <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
    <% end %>
  </ol>
  <div class="carousel-inner">
    <% if @article.photo1.attached? %>
      <div class="carousel-item active">
        <%= cl_image_tag @article.photo1.key, class:"d-block w-100 carousel-fix" %>
      </div>
    <% end %>
    <% if @article.photo2.attached? %>
      <div class="carousel-item">
        <%= cl_image_tag @article.photo2.key, class:"d-block w-100 carousel-fix" %>
      </div>
    <% end %>
    <% if @article.photo3.attached? %>
      <div class="carousel-item">
        <%= cl_image_tag @article.photo3.key, class:"d-block w-100 carousel-fix" %>
      </div>
    <% end %>
    <% if @article.photo4.attached? %>
      <div class="carousel-item">
        <%= cl_image_tag @article.photo4.key, class:"d-block w-100 carousel-fix" %>
      </div>
    <% end %>
    <% if @article.photo5.attached? %>
      <div class="carousel-item">
        <%= cl_image_tag @article.photo5.key, class:"d-block w-100 carousel-fix" %>
      </div>
    <% end %>
    <% if @article.photo6.attached? %>
      <div class="carousel-item">
        <%= cl_image_tag @article.photo6.key, class:"d-block w-100 carousel-fix" %>
      </div>
    <% end %>
    <% if @article.photo7.attached? %>
      <div class="carousel-item">
        <%= cl_image_tag @article.photo7.key, class:"d-block w-100 carousel-fix" %>
      </div>
    <% end %>
    <% if @article.photo8.attached? %>
      <div class="carousel-item">
        <%= cl_image_tag @article.photo8.key, class:"d-block w-100 carousel-fix" %>
      </div>
    <% end %>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>  
    
  <div>
    <div style="color:grey" class="pt-3 pb-3">
      <%= @article.created_at.to_date %>
    </div>
    <div>
    <h3>
      <% if I18n.locale == I18n.default_locale %>
        <strong><%= @article.title %></strong>       
      <% else %>
        <strong><%= @article.title_cn %></strong>
      <% end %>
    </h3>
    </div>
     <h5>
      <% if I18n.locale == I18n.default_locale %>
        <%= @article.subtitle %> 
      <% else %>
        <%= @article.subtitle_cn %>
      <% end %>
    </h5>
    </div>
    <p>
      <% if I18n.locale == I18n.default_locale %>
          <%= @article.content %>
      <% else %>
     	    <%= @article.content_cn %>
      <%end %>
    </p>
  </div>
</div>




