<h1>
<% if I18n.locale == I18n.default_locale %>
	<%= @about.title %>
<% else %>
 	<%= @about.title_cn %>
<% end %>
</h1>
<p>
<% if I18n.locale == I18n.default_locale %>
	<%= @about.description %>
<% else %>
 	<%= @about.description_cn %>
<% end %>
</p>


<% if @about.photo1.attached? %>
  <%= cl_image_tag @about.photo1.key, height: 300, width: 400, crop: :fill %>
 <% end %>
 <% if @about.photo2.attached? %>
  <%= cl_image_tag @about.photo2.key, height: 300, width: 400, crop: :fill %>
 <% end %>
 <% if @about.photo3.attached? %>
  <%= cl_image_tag @about.photo3.key, height: 300, width: 400, crop: :fill %>
 <% end %>
 <% if @about.photo4.attached? %>
  <%= cl_image_tag @about.photo4.key, height: 300, width: 400, crop: :fill %>
 <% end %>
