<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
<script>

setTimeout(() => {
	mapboxgl.accessToken = 'pk.eyJ1IjoiY2Fwb3dhbmciLCJhIjoiY2tjeTg2MnV2MDdjbTJ4cGtnaG9lb2p3cCJ9.9Lh3xU1oXA8qfpgOm1k86A';
		var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
		center: [121.473701, 31.230391], // starting position [lng, lat]
		zoom: 9 // starting zoom
		});

		var markers = JSON.parse(document.getElementById("map").dataset.markers);
		console.log(markers)
		markers.forEach((marker) => {
		 var marker = new mapboxgl.Marker()
		.setLngLat([marker[1], marker[0]])
		.addTo(map);
		})

    }, 100)
///eight: 160, width: 286, crop: :fill,
</script>

	<div class="container map-flex">
		
		<div class="school-cards pr-3">
			<% @schools.each do |school| %>
					<div class="card" style="width: 18rem;">
					  		<% if school.photo1.attached? %>
								<%= cl_image_tag school.photo1.key, height: 160, width: 286, crop: :fill %>
							<% end %>
					  <div class="card-body">
					  	<% if I18n.locale == I18n.default_locale %>
						    <h5 class="card-title"><%= link_to school.title, school_path(school)%></h5>
						    <p class="card-text"><%= school.address%></p>
					   	<% else %>
						    <h5 class="card-title"><%= link_to school.title_cn, school_path(school)%></h5>
						    <p class="card-text"><%= school.address_cn%></p>
						<% end %>
					  </div>
					</div>
			<% end %>
		</div>

		<div id='map' style='width: 400px; height: 560px;' data-markers="<%= @markers%>"></div>

	</div>






