<%= link_to "Back", schools_path %>

<% if @school.photo1.attached? %>
  <%= cl_image_tag @school.photo1.key, height: 300, width: 400, crop: :fill %>
 <% end %>
 <% if @school.photo2.attached? %>
  <%= cl_image_tag @school.photo1.key, height: 300, width: 400, crop: :fill %>
 <% end %>
 <% if @school.photo3.attached? %>
  <%= cl_image_tag @school.photo1.key, height: 300, width: 400, crop: :fill %>
 <% end %>
 <% if @school.photo4.attached? %>
  <%= cl_image_tag @school.photo1.key, height: 300, width: 400, crop: :fill %>
 <% end %>
<% if @school.photo5.attached? %>
  <%= cl_image_tag @school.photo1.key, height: 300, width: 400, crop: :fill %>
 <% end %>
 <% if @school.photo6.attached? %>
  <%= cl_image_tag @school.photo1.key, height: 300, width: 400, crop: :fill %>
 <% end %>
 <% if @school.photo7.attached? %>
  <%= cl_image_tag @school.photo1.key, height: 300, width: 400, crop: :fill %>
 <% end %>
 <% if @school.photo8.attached? %>
  <%= cl_image_tag @school.photo1.key, height: 300, width: 400, crop: :fill %>
 <% end %>






<% if I18n.locale == I18n.default_locale %>
	<h1>
		<%= @school.title %>
		<%= @school.address %>
	</h1>
	<p>
		<%= @school.content %>
	</p>
	<% @school.teachers.each do |teacher| %>
		<li>
			<p><%= teacher.name%></p>
			<p><%= teacher.description%></p>
			<%= cl_image_tag teacher.photo.key, height: 300, width: 400, crop: :fill %>
		</li>
	<% end %>
<% else %>
 	<h1>
		<%= @school.title_cn %>
		<%= @school.address_cn %>
	</h1>
	<p>
		<%= @school.content_cn %>
	</p>
	<% @school.teachers.each do |teacher| %>
		<li>
			<p><%= teacher.name_cn%></p>
			<p><%= teacher.description_cn%></p>
		</li>
	<% end %>

<% end%>



