<!DOCTYPE html>
<html>
  <head>
    <title>SchoolProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
    <%= button_to 'Exit', destroy_user_session_path, method: :delete %>
    <% else %>
    <%= button_to 'Admin Login', new_user_session_path %>
    <% end %>
    <% if I18n.locale == I18n.default_locale %>
        <%= link_to "中文", { :locale=>'cn' } %>
    <% else %>
        <%= link_to "English", { :locale=>'en' } %>
    <% end%>
    <p><%=link_to 'logo', root_path%></p>
    <p><%=link_to 'schools', schools_path%></p>
    <p><%=link_to 'about', abouts_path%></p>
    <p>contact</p>
    <%= yield %>
  </body>
</html>
